@theme inline {
  /* font family */
  --font-pretendard: var(--font-pretendard);
  --font-suite: var(--font-suite);

  /* font size */
  --text-xs: var(--text-xs);
  --text-sm: var(--text-sm);
  --text-base: var(--text-base);
  --text-lg: var(--text-lg);
  --text-xl: var(--text-xl);
  --text-2xl: var(--text-2xl);
  --text-3xl: var(--text-3xl);
  --text-4xl: var(--text-4xl);
  --text-5xl: var(--text-5xl);

  /* line height */
  --text-xs--line-height: var(--text-xs--line-height);
  --text-sm--line-height: var(--text-sm--line-height);
  --text-base--line-height: var(--text-base--line-height);
  --text-lg--line-height: var(--text-lg--line-height);
  --text-xl--line-height: var(--text-xl--line-height);
  --text-2xl--line-height: var(--text-2xl--line-height);
  --text-3xl--line-height: var(--text-3xl--line-height);
  --text-4xl--line-height: var(--text-4xl--line-height);
}

:root {
  /* font size */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.8125rem; /* 13px */
  --text-base: 0.875rem; /* 14px */
  --text-lg: 1rem; /* 16px */
  --text-xl: 1.125rem; /* 18px */
  --text-2xl: 1.25rem; /* 20px */
  --text-3xl: 1.5rem; /* 24px */
  --text-4xl: 1.75rem; /* 28px */
  --text-5xl: 2rem; /* 32px */

  /* line height */
  --text-xs--line-height: 1;
  --text-sm--line-height: 1;
  --text-base--line-height: 1;
  --text-lg--line-height: calc(24 / 16);
  --text-xl--line-height: calc(27 / 18);
  --text-2xl--line-height: 1;
  --text-3xl--line-height: 1;
  --text-4xl--line-height: 1;
  --text-5xl--line-height: 1;
}
